<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width">
    <title>Gift Box</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel ="stylesheet" href = "/css/snowflake.css">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    {{{body}}}
    {{>snowflake}}
</body>