<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width">
    <title>Gift Box</title>
    <link rel="stylesheet" href="/css/giftbox.css">
</head>
<body>
    {{{body}}}
</body>