<div class="gift-container">
        <div class="shadow">

        </div>
        <div class="gift-box">
            <div class="click"></div>
        </div>
    </div>
<script src="/js/giftbox.js"></script>