<div class="gift-container">
        <div class="shadow">
        </div>
        <div class="gift-box">
            <div class="click"></div>
        </div>
</div>
<div class="overlay">
    <div class="letter">
        <div class="letter-content">
            <div class="letter-body">
                {{{message}}}
            </div>
            <button class="close-button"></button>
        </div>
    </div>
</div>
<script src="/js/giftbox.js"></script>